node-red/flows.json
[{"id":"105c659f.ac554a","type":"tab","label":"Coal_Boiler","disabled":false,"info":""},{"id":"9447f7f2.8c2908","type":"tab","label":"Virtual Mqqt Device","disabled":false,"info":""},{"id":"e95b2c15.18bb","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Coal Boiler Data","hideToolbar":"false","allowSwipe":"true","lockMenu":"true","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"dabb09c4.ae8ef8","type":"ui_tab","z":"","name":"Boiler Data","icon":"dashboard","disabled":false,"hidden":false},{"id":"fc9d7d9e.e328","type":"ui_group","z":"","name":"Boiler Sensors Line Graphs","tab":"dabb09c4.ae8ef8","order":1,"disp":true,"width":"6","collapse":false},{"id":"2bcbb392.824a3c","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"e5c5c628.50a248","type":"ui_group","z":"","name":"Gauges Ambient","tab":"dabb09c4.ae8ef8","order":3,"disp":true,"width":"6","collapse":false},{"id":"4905f89a.eb10b8","type":"ui_group","z":"","name":"Switches","tab":"dabb09c4.ae8ef8","order":4,"disp":true,"width":"6","collapse":false},{"id":"139c0d51.1ebcb3","type":"ui_group","z":"","name":"Gauges Controls","tab":"dabb09c4.ae8ef8","order":2,"disp":true,"width":"6","collapse":false},{"id":"4a93b1b6.81e3","type":"ui_spacer","name":"spacer","group":"e5c5c628.50a248","order":2,"width":6,"height":1},{"id":"d415d6dd.1363a8","type":"mqtt-broker","z":"","broker":"a30dilo1soj41h.iot.us-east-1.amazonaws.com","port":"8883","tls":"b514a77e.26e758","clientid":"DataTrafficSim","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b514a77e.26e758","type":"tls-config","z":"","name":"AWS","cert":"C:\\Users\\SakDev\\Desktop\\Dev\\AWS\\Certs\\MySimulatedDevice\\15a6d5bf2f-certificate.pem.crt","key":"C:\\Users\\SakDev\\Desktop\\Dev\\AWS\\Certs\\MySimulatedDevice\\15a6d5bf2f-private.pem.key","ca":"C:\\Users\\SakDev\\Desktop\\Dev\\AWS\\Certs\\MySimulatedDevice\\rootCA.pem","certname":"","keyname":"","caname":"","verifyservercert":true},{"id":"c93f68e9.e45778","type":"api-current-state","z":"105c659f.ac554a","name":"vf3kTempSnsWater","server":"2bcbb392.824a3c","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.4rly_2tsns_1_temp_water","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":330,"y":380,"wires":[["c95d1295.7ce37"]]},{"id":"14fab1fb.38ab8e","type":"inject","z":"105c659f.ac554a","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"6","x":130,"y":380,"wires":[["c93f68e9.e45778","75b93dbc.521704","be0ecb93.bb5158"]]},{"id":"c95d1295.7ce37","type":"json","z":"105c659f.ac554a","name":"","property":"payload","action":"obj","pretty":false,"x":510,"y":380,"wires":[["736a2496.d9f8bc","819035a6.4651b8","dedf2c72.1566e","2b3df8c3.557728"]]},{"id":"736a2496.d9f8bc","type":"debug","z":"105c659f.ac554a","name":"Debug_VF3KWaterTemp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":380,"wires":[]},{"id":"819035a6.4651b8","type":"ui_gauge","z":"105c659f.ac554a","name":"dashH20","group":"139c0d51.1ebcb3","order":2,"width":0,"height":0,"gtype":"gage","title":"Water","label":"Deg F","format":"{{value}}","min":"40","max":"250","colors":["#0044b3","#e66f00","#ca3838"],"seg1":"100","seg2":"165","x":660,"y":460,"wires":[]},{"id":"75b93dbc.521704","type":"api-current-state","z":"105c659f.ac554a","name":"vf3kTempSnsFeeder","server":"2bcbb392.824a3c","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.4rly_2tsns_1_temp_feeder","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":340,"y":440,"wires":[["f0e033a7.608d"]]},{"id":"f0e033a7.608d","type":"json","z":"105c659f.ac554a","name":"","property":"payload","action":"obj","pretty":false,"x":510,"y":440,"wires":[["25d87741.dc9f18","84c5aee5.cef21","42c2ff82.12ade","dcc63a9b.f8eaf8","ec250d02.66066"]]},{"id":"25d87741.dc9f18","type":"debug","z":"105c659f.ac554a","name":"Debug_VF3KFeederTempSnsr","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":500,"wires":[]},{"id":"84c5aee5.cef21","type":"ui_gauge","z":"105c659f.ac554a","name":"dashFeed1","group":"139c0d51.1ebcb3","order":3,"width":0,"height":0,"gtype":"gage","title":"Feeder","label":"Deg F","format":"{{value}}","min":"0","max":"500","colors":["#0044b3","#e66f00","#ca3838"],"seg1":"200","seg2":"400","x":670,"y":600,"wires":[]},{"id":"dedf2c72.1566e","type":"ui_chart","z":"105c659f.ac554a","name":"dashH20","group":"fc9d7d9e.e328","order":1,"width":0,"height":0,"label":"Water","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"no data yet","dot":false,"ymin":"40","ymax":"85","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":660,"y":420,"wires":[[]]},{"id":"42c2ff82.12ade","type":"ui_chart","z":"105c659f.ac554a","name":"dashFeed1","group":"fc9d7d9e.e328","order":2,"width":0,"height":0,"label":"Feeder","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"no data yet","dot":false,"ymin":"40","ymax":"85","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":560,"wires":[[]]},{"id":"5282638c.987b4c","type":"ui_switch","z":"105c659f.ac554a","name":"dashMainPwr_RLY","label":"Main Power","tooltip":"","group":"4905f89a.eb10b8","order":1,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"dashboard\\main","style":"","onvalue":"\"on\"","onvalueType":"json","onicon":"","oncolor":"","offvalue":"\"off\"","offvalueType":"json","officon":"","offcolor":"","x":486,"y":1060,"wires":[["f226d3bf.9cf6f","773e0767.793898"]]},{"id":"f226d3bf.9cf6f","type":"switch","z":"105c659f.ac554a","name":"on/off?","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"on","vt":"str"},{"t":"cont","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":690,"y":1060,"wires":[["2450de03.ef9112"],["3eab55cd.b806da"]]},{"id":"3eab55cd.b806da","type":"api-call-service","z":"105c659f.ac554a","name":"MAINPWROFF","server":"2bcbb392.824a3c","version":1,"debugenabled":true,"service_domain":"switch","service":"turn_off","entityId":"switch.vf3k_mainpwr","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":880,"y":1066,"wires":[[]]},{"id":"2450de03.ef9112","type":"api-call-service","z":"105c659f.ac554a","name":"MAINPWRON","server":"2bcbb392.824a3c","version":1,"debugenabled":true,"service_domain":"switch","service":"turn_on","entityId":"switch.vf3k_mainpwr","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1080,"y":1051,"wires":[[]]},{"id":"773e0767.793898","type":"debug","z":"105c659f.ac554a","name":"SWITCH_CHGD","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":1020,"wires":[]},{"id":"be0ecb93.bb5158","type":"function","z":"105c659f.ac554a","name":"gblUpdateCount","func":"/*************************************************\n * * VGK, 191207\n * * Updates global variable counter\n *************************************************/\nvar obj = global.get('gblObjVF3KData');\n\nobj.updateCount++;\nobj.timeStamp = Date();\n\nglobal.set('gblObjVF3KData',obj);\nmsg.payload = obj.updateCount;\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":500,"wires":[["7220da44.fe3e04","b61c7007.6a02c"]]},{"id":"7220da44.fe3e04","type":"debug","z":"105c659f.ac554a","name":"UPDCNTR","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":450,"y":500,"wires":[]},{"id":"b61c7007.6a02c","type":"ui_text","z":"105c659f.ac554a","group":"139c0d51.1ebcb3","order":1,"width":0,"height":0,"name":"dashUpdateCnt","label":"Data Update Counter","format":"{{msg.payload}}","layout":"col-center","x":470,"y":540,"wires":[]},{"id":"33bbed92.d41072","type":"ui_switch","z":"105c659f.ac554a","name":"dashCombust_RLY","label":"Combustion Blower ","tooltip":"","group":"4905f89a.eb10b8","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"dashboard\\sw\\combust","style":"","onvalue":"\"on\"","onvalueType":"json","onicon":"","oncolor":"","offvalue":"\"off\"","offvalueType":"json","officon":"","offcolor":"","x":486,"y":1108,"wires":[["4fd2d2bc.eea28c","773e0767.793898"]]},{"id":"31045006.bcd1f","type":"ui_switch","z":"105c659f.ac554a","name":"dashFeeder_RLY","label":"Feeder Motor","tooltip":"","group":"4905f89a.eb10b8","order":3,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"dashboard\\sw\\feed","style":"","onvalue":"\"on\"","onvalueType":"json","onicon":"","oncolor":"","offvalue":"\"off\"","offvalueType":"json","officon":"","offcolor":"","x":486,"y":1153,"wires":[["9be6b03b.d301c","773e0767.793898"]]},{"id":"864f2f23.9e63","type":"ui_switch","z":"105c659f.ac554a","name":"dashDemand_RLY","label":"Remote Heat Demand","tooltip":"","group":"4905f89a.eb10b8","order":4,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"dashboard\\sw\\heatdmnd","style":"","onvalue":"\"on\"","onvalueType":"json","onicon":"","oncolor":"","offvalue":"\"off\"","offvalueType":"json","officon":"","offcolor":"","x":486,"y":1200,"wires":[["f1a3a400.0106a","773e0767.793898"]],"info":"This is a relay we control to turn on the water circulators to override the wall stat. The main reason we woud enable this would be to blow off excess heat that may have built up."},{"id":"dcc63a9b.f8eaf8","type":"ui_gauge","z":"105c659f.ac554a","name":"dashRoom","group":"e5c5c628.50a248","order":1,"width":0,"height":0,"gtype":"gage","title":"Room","label":"Deg F","format":"{{value}}","min":"40","max":"90","colors":["#0044b3","#00e645","#ca3838"],"seg1":"65","seg2":"73","x":670,"y":640,"wires":[]},{"id":"ec250d02.66066","type":"ui_gauge","z":"105c659f.ac554a","name":"dashOutdoor","group":"e5c5c628.50a248","order":3,"width":0,"height":0,"gtype":"gage","title":"Outdoors","label":"Deg F","format":"{{value}}","min":"0","max":"120","colors":["#0044b3","#00e645","#ca3838"],"seg1":"55","seg2":"70","x":670,"y":680,"wires":[]},{"id":"146e6cc8.2039f3","type":"switch","z":"105c659f.ac554a","name":"ON\\OFF","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"on","vt":"str"},{"t":"cont","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":920,"y":360,"wires":[["e61b3ec4.3e377","e507ce3f.1f791","16d6bc5f.908044"],["bb8e129e.49301","8957d774.f4c6b8","16d6bc5f.908044"]]},{"id":"2b3df8c3.557728","type":"function","z":"105c659f.ac554a","name":"gblH2OTarget","func":"/*************************************************\n * * VGK, 191207\n * * Detects if water read back < than target\n * * TODO: ADD State tracking to not send unless change\n *************************************************/\nvar obj     = global.get('gblObjVF3KData');\nvar payloadIn = msg.payload;\nvar msgDbg  = { _msgid: 1234567 ,payload: \"\",topic:\"\" };\nvar bSendMsg = false;\n\nif(payloadIn < (obj.prevTempH2O -.5) ||\n   payloadIn > (obj.prevTempH2O +.5))\n{\n    obj.prevTempH2O = payloadIn;\n    global.set('gblObjVF3KData',obj);\n        \n    if(payloadIn < obj.tempH2oTarget && \n       obj.swCmb.includes('off'))\n    {\n        bSendMsg    = true;\n        obj.swCmb   = 'on';\n        obj.swFeed  = 'on';\n        msg.payload = 'on';\n        msg.topic   = 'turn_on' +\" R \" + payloadIn + \" T \" + obj.tempH2oTarget + \" P \" + obj.prevTempH2O;\n    }else\n    {\n        bSendMsg    = true;\n        obj.swCmb   = 'off';\n        obj.swFeed  = 'off';\n        msg.payload = 'off';\n        msg.topic   = 'turn_off'+\" R \" + payloadIn + \" T \" + obj.tempH2oTarget + \" P \" + obj.prevTempH2O;\n        \n    }\n    msgDbg.payload = \"Read: \" + payloadIn + \" Target: \" + obj.tempH2oTarget + \" PrevTemp: \" + obj.prevTempH2O;\n    msgDbg.topic   = msgDbg.topic = \"TEMP CHANGED\"\n}\nelse\n{\n    msgDbg.payload = \"Read: \" + payloadIn + \" Target: \" + obj.tempH2oTarget + \" PrevTemp: \" + obj.prevTempH2O;\n    msgDbg.topic = \"NOT ENOUGH TEMP CHANGE\"\n    bSendMsg = false;\n}\n\nif(bSendMsg    === true)\n{\n    return [msgDbg,msg];\n}else\n{\n    return [msgDbg,null];\n}\n\n","outputs":2,"noerr":0,"x":680,"y":340,"wires":[["505f04d.5599dfc"],["146e6cc8.2039f3","505f04d.5599dfc"]]},{"id":"e61b3ec4.3e377","type":"api-call-service","z":"105c659f.ac554a","name":"COMBUST ON","server":"2bcbb392.824a3c","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.vf3k_combpwr","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1097,"y":324,"wires":[[]]},{"id":"8957d774.f4c6b8","type":"api-call-service","z":"105c659f.ac554a","name":"COMBUST OFF","server":"2bcbb392.824a3c","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.vf3k_combpwr","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1100,"y":420,"wires":[[]]},{"id":"e507ce3f.1f791","type":"api-call-service","z":"105c659f.ac554a","name":"FEEDER ON","server":"2bcbb392.824a3c","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.vf3k_feederpwr","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"msg","mustacheAltTags":false,"x":1090,"y":280,"wires":[[]]},{"id":"bb8e129e.49301","type":"api-call-service","z":"105c659f.ac554a","name":"FEEDER OFF","server":"2bcbb392.824a3c","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.vf3k_feederpwr","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1100,"y":373,"wires":[[]]},{"id":"505f04d.5599dfc","type":"debug","z":"105c659f.ac554a","name":"H20RDB_DBG","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":880,"y":320,"wires":[],"info":"Indicates the power switch has not changed"},{"id":"16d6bc5f.908044","type":"debug","z":"105c659f.ac554a","name":"WATERRDBONOFF_DBG","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1340,"y":340,"wires":[],"info":"Indicates the power switch has not changed"},{"id":"6ce0f53d.698f3c","type":"ui_slider","z":"105c659f.ac554a","name":"dashH2OTarget","label":"H20 Target","tooltip":"","group":"4905f89a.eb10b8","order":4,"width":0,"height":0,"passthru":true,"outs":"end","topic":"dashboard","min":"40","max":"180","step":1,"x":474,"y":1280,"wires":[["1592b4ca.2d708b"]]},{"id":"aaec8f13.7c468","type":"ui_chart","z":"105c659f.ac554a","name":"dashMotor","group":"fc9d7d9e.e328","order":2,"width":0,"height":0,"label":"Motor ON\\OFF","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"NODATA","dot":false,"ymin":"0","ymax":"1","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":710,"y":980,"wires":[[]]},{"id":"97f89712.b196f8","type":"poll-state","z":"105c659f.ac554a","name":"pollCbstSW","server":"2bcbb392.824a3c","version":1,"updateinterval":"5","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"switch.vf3k_combpwr","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":90,"y":960,"wires":[["ba2287c1.d20f48","ac9c1f3b.d74e3"]]},{"id":"44a72323.626f4c","type":"poll-state","z":"105c659f.ac554a","name":"pollFeedSW","server":"2bcbb392.824a3c","version":1,"updateinterval":"5","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"switch.vf3k_feederpwr","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":88,"y":1008,"wires":[["ba2287c1.d20f48","6a8c0a1f.12f444"]]},{"id":"fffa9f8b.5bdd7","type":"poll-state","z":"105c659f.ac554a","name":"pollMainPwr","server":"2bcbb392.824a3c","version":1,"updateinterval":"5","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"switch.vf3k_mainpwr","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":92,"y":912,"wires":[["ba2287c1.d20f48","89484f6b.256a2"]]},{"id":"6d107360.2da4cc","type":"debug","z":"105c659f.ac554a","name":"SWPOLL_DBG","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":720,"y":940,"wires":[],"info":"Indicates the power switch has not changed"},{"id":"ba2287c1.d20f48","type":"function","z":"105c659f.ac554a","name":"ON\\OFF_2_1\\0","func":"if(msg.payload.includes(\"on\"))\n{\n    msg.payload = 1\n}else\n{\n    msg.payload = 0\n}\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":980,"wires":[["aaec8f13.7c468","6d107360.2da4cc"]]},{"id":"d4a67f0d.ab79e","type":"ui_slider","z":"105c659f.ac554a","name":"dashRoomTarget","label":"Room Target","tooltip":"","group":"4905f89a.eb10b8","order":4,"width":0,"height":0,"passthru":true,"outs":"end","topic":"dashboard","min":"40","max":"80","step":1,"x":484,"y":1320,"wires":[[]]},{"id":"2247c6f1.65c08a","type":"ui_slider","z":"105c659f.ac554a","name":"dashCmbustCycle","label":"Combustion Cycle","tooltip":"","group":"4905f89a.eb10b8","order":4,"width":0,"height":0,"passthru":true,"outs":"end","topic":"dashboard","min":"10","max":"300","step":"10","x":484,"y":1400,"wires":[[]]},{"id":"ce6d06ee.d0c328","type":"ui_slider","z":"105c659f.ac554a","name":"dashFeedCycle","label":"Feed Cycle","tooltip":"","group":"4905f89a.eb10b8","order":4,"width":0,"height":0,"passthru":true,"outs":"end","topic":"dashboard","min":"10","max":"300","step":"10","x":474,"y":1360,"wires":[[]]},{"id":"21ef940e.ef03dc","type":"ui_slider","z":"105c659f.ac554a","name":"dashDutyCombust","label":"Combustion Duty Cycle","tooltip":"","group":"4905f89a.eb10b8","order":4,"width":0,"height":0,"passthru":true,"outs":"end","topic":"dashboard","min":"0","max":"100","step":1,"x":484,"y":1480,"wires":[[]]},{"id":"4300aa73.e40e44","type":"ui_slider","z":"105c659f.ac554a","name":"dashDutyFeeder","label":"Feeder Duty Cycle","tooltip":"","group":"4905f89a.eb10b8","order":4,"width":0,"height":0,"passthru":true,"outs":"end","topic":"dashboard","min":"0","max":"100","step":1,"x":484,"y":1440,"wires":[[]]},{"id":"988a029f.ac364","type":"function","z":"105c659f.ac554a","name":"gblManualModeSetTrue","func":"/*************************************************\n * * VGK, 191207\n * * Updates global variable \n *************************************************/\nvar obj = global.get('gblObjVF3KData') || {};\n\n/*VGK, if we are here a manual mode switch was pressed*/\nobj.bManMode = true;\nglobal.set('gblObjVF3KData',obj);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":750,"y":1240,"wires":[[]]},{"id":"d6f9e50b.8f9868","type":"function","z":"105c659f.ac554a","name":"gblObjCreateVF3K","func":"/*************************************************\n * * VGK, 191207\n * * Creates Global VF300 Data Object\n *************************************************/\nvar obj = {\n          updateCount: 0,\n          timeStamp: Date(),\n          bManualMode: false,\n          swMain: 'off',\n          swCmb: 'off',\n          swFeed: 'off',\n          swHeatDmnd: 'off',\n          lstSwMain: 'off',\n          lstSwCmb: 'off',\n          lstSwFeed: 'off',\n          lstSwHeatDmnd: 'off',\n          tempH2oTarget: 140,/*default to 140 degrees*/\n          tempRoomTarget: 70,/*default room temp target*/\n          tmSecFeedCycle: 120,/*default Feeder Motor Cycle Time in seconds*/\n          tmSecCombustCycle: 120,/*default Combustion Motor Cycle Time in seconds*/\n          dutyCycleFeed: 10,/*default on time % of cycle time period*/\n          dutyCycleCombust: 10,/*default on time % of cycle time period*/\n          bOTP: false,\n          prevTempH2O: 0,\n          prevTempRoom: 0,\n          prevTempOutdoor: 0\n};\nglobal.set('gblObjVF3KData',obj);\nobj = global.get('gblObjVF3KData');\n\n\nif(obj === undefined)\n{\n    global.get('gblObjVF3KData',obj);\n    msg.topic = \"obj undefined\"    \n}else if( obj === null)\n{\n    msg.topic = \"OBJ = NULL\"\n}else if (obj.timeStamp !== null)\n{\n    msg.topic = \"VF3K OBJ INITIALIZED\"\n    msg.payload = obj.timeStamp;\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":330,"y":260,"wires":[["1c4eec4e.339a24"]]},{"id":"3052febc.6e7722","type":"inject","z":"105c659f.ac554a","name":"InitOnce","topic":"init_timer_oneshot","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":".1","x":120,"y":260,"wires":[["d6f9e50b.8f9868","407e222d.23ba7c"]]},{"id":"1c4eec4e.339a24","type":"debug","z":"105c659f.ac554a","name":"INIT_GBL_VF3K_DATA_OBJ","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":600,"y":260,"wires":[]},{"id":"4ca710f1.63095","type":"function","z":"105c659f.ac554a","name":"flowInittDashElements","func":"/*************************************************\n * * VGK, 191207\n * * Create 10 messages to hold the init states of the dash elements \n *************************************************/\n var obj = global.get('gblObjVF3KData') || {};\nvar i=0;\nlet msgOut = [\n  { _msgid: 0, topic: \"\" ,payload: \"\"},\n  { _msgid: 0, topic: \"\" ,payload: \"\"},\n  { _msgid: 0, topic: \"\" ,payload: \"\"},\n  { _msgid: 0, topic: \"\" ,payload: \"\"},\n  { _msgid: 0, topic: \"\" ,payload: \"\"},\n  { _msgid: 0, topic: \"\" ,payload: \"\"},\n  { _msgid: 0, topic: \"\" ,payload: \"\"},\n  { _msgid: 0, topic: \"\" ,payload: \"\"},\n  { _msgid: 0, topic: \"\" ,payload: \"\"},\n  { _msgid: 0, topic: \"\" ,payload: \"\"},\n  { _msgid: 0, topic: \"\" ,payload: \"\"}];\n\nmsgOut[i++].payload = obj.swMain;\nmsgOut[i++].payload = obj.swCmb;\nmsgOut[i++].payload = obj.swFeed;\nmsgOut[i++].payload = obj.swHeatDmnd;\nmsgOut[i++].payload = obj.bManualMode;\nmsgOut[i++].payload = obj.tempH2oTarget;\nmsgOut[i++].payload = obj.tempRoomTarget;\nmsgOut[i++].payload = obj.tmSecFeedCycle;\nmsgOut[i++].payload = obj.tmSecCombustCycle;\nmsgOut[i++].payload = obj.dutyCycleFeed;\nmsgOut[i++].payload = obj.dutyCycleCombust;\n\nreturn [msgOut[0],msgOut[1],msgOut[2],msgOut[3],\n        msgOut[4],msgOut[5],msgOut[6],msgOut[7],\n        msgOut[8],msgOut[9],msgOut[10]];","outputs":11,"noerr":0,"x":120,"y":1400,"wires":[["5282638c.987b4c"],["33bbed92.d41072"],["31045006.bcd1f"],["864f2f23.9e63"],["6ce0f53d.698f3c"],["d4a67f0d.ab79e"],["ce6d06ee.d0c328"],["2247c6f1.65c08a"],["4300aa73.e40e44"],["21ef940e.ef03dc"],[]]},{"id":"407e222d.23ba7c","type":"link out","z":"105c659f.ac554a","name":"(LINKOUT)initOnce","links":["78c8125c.e4923c"],"x":255,"y":220,"wires":[]},{"id":"78c8125c.e4923c","type":"link in","z":"105c659f.ac554a","name":"(LINKIN)initOnce","links":["407e222d.23ba7c"],"x":55,"y":1280,"wires":[["4ca710f1.63095"]]},{"id":"4eea241f.8aa3fc","type":"ui_switch","z":"105c659f.ac554a","name":"dashManualMode","label":"Remote Heat Demand","tooltip":"","group":"4905f89a.eb10b8","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"dashboard\\sw\\heatdmnd","style":"","onvalue":"\"on\"","onvalueType":"json","onicon":"","oncolor":"","offvalue":"\"off\"","offvalueType":"json","officon":"","offcolor":"","x":484,"y":1240,"wires":[["988a029f.ac364","773e0767.793898"]],"info":"This is a relay we control to turn on the water circulators to override the wall stat. The main reason we woud enable this would be to blow off excess heat that may have built up."},{"id":"494e93ab.38c6fc","type":"poll-state","z":"105c659f.ac554a","name":"pollHeatSW","server":"2bcbb392.824a3c","version":1,"updateinterval":"5","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"switch.vf3k_heatdmd","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":87,"y":1054,"wires":[["ba2287c1.d20f48","56bbd5ea.dc17dc"]]},{"id":"4fd2d2bc.eea28c","type":"switch","z":"105c659f.ac554a","name":"on/off?","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"on","vt":"str"},{"t":"cont","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":690,"y":1107,"wires":[["6fb586a9.242a78"],["937bb166.a66f"]]},{"id":"6fb586a9.242a78","type":"api-call-service","z":"105c659f.ac554a","name":"CBSTON","server":"2bcbb392.824a3c","version":1,"debugenabled":true,"service_domain":"switch","service":"turn_on","entityId":"switch.vf3k_combpwr","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1060,"y":1100,"wires":[[]]},{"id":"937bb166.a66f","type":"api-call-service","z":"105c659f.ac554a","name":"CBSTOFF","server":"2bcbb392.824a3c","version":1,"debugenabled":true,"service_domain":"switch","service":"turn_off","entityId":"switch.vf3k_combpwr","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":870,"y":1114,"wires":[[]]},{"id":"9be6b03b.d301c","type":"switch","z":"105c659f.ac554a","name":"on/off?","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"on","vt":"str"},{"t":"cont","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":690,"y":1152,"wires":[["dda8fa4b.1cf968"],["63336736.c9f908"]]},{"id":"63336736.c9f908","type":"api-call-service","z":"105c659f.ac554a","name":"FEEDOFF","server":"2bcbb392.824a3c","version":1,"debugenabled":true,"service_domain":"switch","service":"turn_off","entityId":"switch.vf3k_feederpwr","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":870,"y":1159,"wires":[[]]},{"id":"dda8fa4b.1cf968","type":"api-call-service","z":"105c659f.ac554a","name":"FEEDON","server":"2bcbb392.824a3c","version":1,"debugenabled":true,"service_domain":"switch","service":"turn_on","entityId":"switch.vf3k_feederpwr","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1060,"y":1145,"wires":[[]]},{"id":"f1a3a400.0106a","type":"switch","z":"105c659f.ac554a","name":"on/off?","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"on","vt":"str"},{"t":"cont","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":690,"y":1200,"wires":[["20596dec.8e2c42"],["242de602.e8a19a"]]},{"id":"242de602.e8a19a","type":"api-call-service","z":"105c659f.ac554a","name":"HEATDMDOFF","server":"2bcbb392.824a3c","version":1,"debugenabled":true,"service_domain":"switch","service":"turn_off","entityId":"switch.vf3k_heatdmd","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":880,"y":1207,"wires":[[]]},{"id":"20596dec.8e2c42","type":"api-call-service","z":"105c659f.ac554a","name":"HEATDMDON","server":"2bcbb392.824a3c","version":1,"debugenabled":true,"service_domain":"switch","service":"turn_on","entityId":"switch.vf3k_heatdmd","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1080,"y":1193,"wires":[[]]},{"id":"89484f6b.256a2","type":"function","z":"105c659f.ac554a","name":"Change?","func":"/*************************************************\n * * VGK, 191207\n * * Updates global variable \n *        swMain: 'off'\n          swCmb: 'off',\n          swFeed: 'off',\n          swHeatDmnd: 'off',\n          lstSwMain: 'off',\n          lstSwCmb: 'off',\n          lstSwFeed: 'off',\n          lstSwHeatDmnd: 'off',\n *************************************************/\nvar obj = global.get('gblObjVF3KData') || {};\n\n/*VGK, if we are here a manual mode switch was pressed*/\nif(obj.lstSwMain != msg.payload)\n{ \n    obj.lstSwMain = msg.payload;\n    global.set('gblObjVF3KData',obj);\n    return msg;\n}else\n{\n    return null;\n}\n          \n\n","outputs":1,"noerr":0,"x":280,"y":1060,"wires":[["5282638c.987b4c"]]},{"id":"ac9c1f3b.d74e3","type":"function","z":"105c659f.ac554a","name":"Change?","func":"/*************************************************\n * * VGK, 191207\n * * Updates global variable \n *        swMain: 'off'\n          swCmb: 'off',\n          swFeed: 'off',\n          swHeatDmnd: 'off',\n          lstSwMain: 'off',\n          lstSwCmb: 'off',\n          lstSwFeed: 'off',\n          lstSwHeatDmnd: 'off',\n *************************************************/\nvar obj = global.get('gblObjVF3KData') || {};\n\n/*VGK, if we are here a manual mode switch was pressed*/\nif(obj.lstSwCmb != msg.payload)\n{ \n    obj.lstSwCmb = msg.payload;\n    global.set('gblObjVF3KData',obj);\n    return msg;\n}else\n{\n    return null;\n}\n          \n\n","outputs":1,"noerr":0,"x":260,"y":1108,"wires":[["33bbed92.d41072"]]},{"id":"6a8c0a1f.12f444","type":"function","z":"105c659f.ac554a","name":"Change?","func":"/*************************************************\n * * VGK, 191207\n * * Updates global variable \n *        swMain: 'off'\n          swCmb: 'off',\n          swFeed: 'off',\n          swHeatDmnd: 'off',\n          lstSwMain: 'off',\n          lstSwCmb: 'off',\n          lstSwFeed: 'off',\n          lstSwHeatDmnd: 'off',\n *************************************************/\nvar obj = global.get('gblObjVF3KData') || {};\n\n/*VGK, if we are here a manual mode switch was pressed*/\nif(obj.lstSwFeed != msg.payload)\n{ \n    obj.lstSwFeed = msg.payload;\n    global.set('gblObjVF3KData',obj);\n    return msg;\n}else\n{\n    return null;\n}\n          \n\n","outputs":1,"noerr":0,"x":245,"y":1154,"wires":[["31045006.bcd1f"]]},{"id":"56bbd5ea.dc17dc","type":"function","z":"105c659f.ac554a","name":"Change?","func":"/*************************************************\n * * VGK, 191207\n * * Updates global variable \n *        swMain: 'off'\n          swCmb: 'off',\n          swFeed: 'off',\n          swHeatDmnd: 'off',\n          lstSwMain: 'off',\n          lstSwCmb: 'off',\n          lstSwFeed: 'off',\n          lstSwHeatDmnd: 'off',\n *************************************************/\nvar obj = global.get('gblObjVF3KData') || {};\n\n/*VGK, if we are here a manual mode switch was pressed*/\nif(obj.lstSwHeatDmnd != msg.payload)\n{ \n    obj.lstSwHeatDmnd = msg.payload;\n    global.set('gblObjVF3KData',obj);\n    return msg;\n}else\n{\n    return null;\n}\n          \n\n","outputs":1,"noerr":0,"x":220,"y":1201,"wires":[["864f2f23.9e63"]]},{"id":"1592b4ca.2d708b","type":"function","z":"105c659f.ac554a","name":"gblH2OTarget","func":"/*************************************************\n * * VGK, 191207\n * * Detects if water read back < than target\n * * TODO: ADD State tracking to not send unless change\n *************************************************/\nvar obj     = global.get('gblObjVF3KData');\n\n/*VGK, if the target was changed run this block of code*/\n/*write slider val to global*/\nobj.tempH2oTarget   = msg.payload;\nglobal.set('gblObjVF3KData',obj);\nmsg.payload      =  \"WATER TEMP TARGET SET BY SLIDER \" + msg.payload;\nmsg.topic        += 'SLIDER_CHANGED';\n\n\n","outputs":2,"noerr":0,"x":720,"y":1280,"wires":[[],[]]},{"id":"6a921417.bc181c","type":"inject","z":"9447f7f2.8c2908","name":"Send Message","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"x":120,"y":220,"wires":[["ed6b57a6.082688"]]},{"id":"2d0f59e5.e5fb46","type":"debug","z":"9447f7f2.8c2908","name":"Main Debug","active":true,"console":"false","complete":"payload","x":554,"y":144,"wires":[]},{"id":"1cecd8b7.c68027","type":"comment","z":"9447f7f2.8c2908","name":"Configure Publish to IoT for your environment","info":"1. Double click the 'Publish to IoT' node.\n2. Click the edit icon next to the Server field.\n3. Update the Server name to correspond to your IoT Platform organization.\n    `{{your org id}}.messaging.internetofthings.ibmcloud.com`\n\n4. Update the Client ID with your orgainzaiton ID, device type, and device ID:\n    `d:{{your org id}}:device_type:device_ID`\n\n5. Click the Security tab.\n6. Set Username to `use-token-auth`.\n7. Set Password to the Auth Token obtained when you created a device in the Watson IoT Platfom.\n8. Click Update and then OK.\n9. In the upper right corner of the Node-RED flow editor, click Deploy. ","x":565,"y":101,"wires":[]},{"id":"237d5826.1a05a8","type":"comment","z":"9447f7f2.8c2908","name":"Inject Node","info":"The Inject node allows you to inject messages into a flow, either by clicking the button on the node, or setting a time interval between injects.","x":100,"y":180,"wires":[]},{"id":"ed6b57a6.082688","type":"function","z":"9447f7f2.8c2908","name":"Generate Payload","func":"var lat = [ 29.42, 30.26, 32.77, 36.37, 38.62, 39.09, 41.87, 43.03, 44.97, 41.25];\nvar lon = [-98.49,-97.74,-96.79,-94.20,-90.19,-94.57,-87.62,-87.90,-93.26,-95.99];\nvar randomTemp = (Math.random() * (30 - (-30)) + (-30)).toFixed(1);  //random temp from -30.0 to 30.0 degrees\n\nvar timeIndex = Date.now();\n//This function below gets date and time and displays it via shortDate variable\nvar timeStamp = new Date().toLocaleTimeString();\nvar dateObj= new Date();\nvar newDate = dateObj.getFullYear() + '/' + ('0' + (dateObj.getMonth() + 1)).slice(-2) + '/' + ('0' + dateObj.getDate()).slice(-2) + ' <' + timeStamp + '>';\n\n// var month = ('0' + (dateObj.getMonth() + 1)).slice(-2);\n// var date = ('0' + dateObj.getDate()).slice(-2);\n// var year = dateObj.getFullYear();\n// var dateTime = year + '/' + month + '/' + date + ' <' + timeStamp + '>';\n\nvar idx = context.get('count') || 0;\n\nif( idx > 9 )\n{\n    idx = 0;  \n}\ncontext.set('count',idx+1); //store next idx for later\n\nmsg.payload = \n            {\n               \"uid\" : timeIndex,\n               \"timeStamp\" : newDate,\n                \"coord\" : \n                {\n                    \"lat\" : lat[idx],\n                    \"lon\" : lon[idx]\n                },\n                \"company\" : \"Acme Corp\",\n                \"avgTemp\" : randomTemp\n            };\n\nmsg.payload = JSON.stringify(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":337,"y":220,"wires":[["2d0f59e5.e5fb46","43c9671c.7a55e8","7f0833a3.d5a07c"]]},{"id":"43c9671c.7a55e8","type":"mqtt out","z":"9447f7f2.8c2908","name":"Mosquitto.org Mqtt","topic":"testsak","qos":"","retain":"","broker":"d415d6dd.1363a8","x":592,"y":214,"wires":[]},{"id":"7f0833a3.d5a07c","type":"mqtt out","z":"9447f7f2.8c2908","name":"AWS Mqtt","topic":"testsak","qos":"","retain":"","broker":"d415d6dd.1363a8","x":572,"y":277,"wires":[]}]